{% extends 'base.html' %}

{% block title %}查询结果{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
    <div class="layui-row layui-col-space10" style="padding: 0 5px;">
        <div class="layui-col-md6 layui-col-md-offset3" style="margin-top: 15px">
            <blockquote class="layui-elem-quote">直接输入要查询的服务器地址，点击查询即可返回服务器是否开服，无需进入游戏查看，节省时间</blockquote>
            <div class="layui-card">
                <div class="layui-card-header">
                    <i class="layui-icon layui-icon-close-fill" style="font-size: 16px; color: #FF5722"></i>
                    没有参数
                </div>
                <div class="layui-card-body">
                    你啥也没输你想查啥？输入框和预设至少要有一个
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}

{% endblock %}